.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 2px #f38545 solid;
    background-color: #002A3B;
}

.footerHaut{
    display: flex;
    justify-content: space-between;
}

.footerGauche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    height: 180px;
    padding-top: 5px;
}

.footerMilieu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}

.navLinksFooterMid {
    margin:0;
    padding: 0;
    list-style: none;
}

.navLinksFooterMid h4 {
    color: #f38545;
    font-style: italic;
    margin: 0 0 10px 0;
    padding: 0;
}

.nav-links-footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0px;
}

.footerDroit {
    display: flex;
    justify-content: center;
}

.footerBoutonContact{
    padding: 10px 0;
}

.nav-links-footer6 {
    border-radius: 20px;
    background-color: #f38545;
    border: none;
}

.nav-links-footer6 a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    font-size: 16px;
}

.footerBoutonLinkedin{
    padding: 10px 0;
}

.nav-links-footer7 {
    border-radius: 10px;
    border : none;
    margin-top:5px;
}

.fa-linkedin{
    width: 50px;
    height: 50px;
    color: #0e76a8;
}

.footerMentions {
    margin-top:10px;
    color: white;
}

.footerBas{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #f38545;
    width: 100%;
    font-style: italic;
    color: #f38545;
}

@media screen and (max-width:1024px){
    .footer {
        width: 100%;
    }
    
    .footerHaut{
        flex-direction: column;
        width: 100%;
    }

    .footerGauche{
        height: 100px;
    }

    .logoFooter {
        height: 100px;
        padding-top: 0;
    }

    .footerMilieu{
        border-top: 1px #f38545  solid;
        border-bottom: 1px #f38545 solid;
        height: 200px;
    }
    
    .footerDroit{
        height: 200px;
    }

    .footerBas{
        height: 50px;
    }
}

@media screen and (min-width:1025px){
.footer {
    height: 240px;
}

.footerHaut{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
}

.footerGauche {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.footerMilieu {
    width: 34%;
    border-left: 1px #f38545  solid ;
    border-right: 1px #f38545 solid;
}

.footerDroit {
    width: 33%;
}

.footerBas{
    height: 20%;
}

}