.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: blue;
}

.footerGauche {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    padding-top: 5px;
}

.footerMilieu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}

.footerDroit {
    display: flex;
    justify-content: center;
}

.footerMentions {
    margin-top:10px;
    color: white;
}

@media screen and (max-width:1024px){
    .footer {
        width: 100%;
    }

    .footerGauche{
        height: 100px;
    }

    .logoFooter {
        height: 100px;
        padding-top: 0;
    }

    .footerMilieu{
        border-top: 1px #f38545  solid;
        border-bottom: 1px #f38545 solid;
        height: 200px;
    }
    
    .footerDroit{
        height: 200px;
    }
}

@media screen and (min-width:1025px){
.footer {
    height: 100px;
}

.footerGauche {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.footerMilieu {
    width: 34%;
    border-left: 1px white  solid ;
    border-right: 1px white solid;
}

.footerDroit {
    width: 33%;
}
}