.imgJP {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}




@media screen and (min-width:1025px){

}


@media screen and (max-width:1024px){

}

@media screen and (max-width:834px){
  
}

@media screen and (max-width:768px){
  
}

@media screen and (max-width:480px){
  
}