
.header {
    background: black;
    height: 100px;
    position: sticky;
    width: 100%;
    top:0;
    z-index:1000;
  }
  
  .navLogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  
  .navGauche{
    display: flex;
    padding-left: 20px;
  }
  
  .navBurger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidebar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logoNav {
    text-align: center;
  }
  
  .logo-img-Desktop{
    height: 100%;
    width: 200px;
  }
  
  .logo-img-Mobile{
    height: 100%;
    width: 200px;
  }
  
  .navLogo ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .classNav {
    list-style: none;
    padding: 0;
  }
  
  .contactNav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .nav-links5{
    border-radius: 20px;
    background-color: #f38545 ;
    border: none;
    padding-right: 10px;
    margin-right: 20px;
  }
  
  .nav-links {
    padding: 0 5px;
  }
  
  .nav-links a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px 10px;
      font-size: 16px;
  }
    
  .nav-links a.active,
  .nav-links a:hover,
  .nav-links a:focus {
      background-color: #f38545 ;
      border-radius: 20px;
  }
  
  .menuIcon {
    height: 40px;
    width: 40px;
    color: inherit;
    background: transparent;
    border: none;
    position:fixed; 
    top: 30px; 
    left: 15px; 
    z-index: 1000;
  }
  
  
  @media screen and (min-width:1025px){
    .nav-links0{
      display: none;
    }
  
    .nav-links5{
      display: none;
    }
  
    .logoNav {
      padding: 0px 15px 10px 0;
    }
  
    .logo-img-Mobile{
      display: none;
    }
  }
  
  @media screen and (max-width:1024px){
    .navbar {
      height: 100px;
    }
  
    .contactNav{
      display: none;
    }
  
    .navBurger{
      width: 100%;
    }
  
    .logo-img-Mobile {
      width: 200px;
      display: flex;
      align-items: center;
      padding-right: 20px;
    }
  
    .logo-img-Desktop{
      display: none;
    }
    
    .classNav{
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      align-items: center;
      left: 0;
      top: 0px;
      width: 100%;
      height: 100%;
      padding:10px;
      background-color: #002A3B;
      visibility: hidden;
      transition: all 0.8 ease-in-out;
      z-index: 999;
      margin-top: 0px;
      padding-top: 150px;
    }
  
    .showNav .classNav{
      width: 100%;
      visibility: visible;
      right:0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .showNav .classNav .nav-links{
      padding: 10px;
    }
  
    .showNav .classNav .nav-links a{
      font-size: 16px;
      border: #f38545 solid 2px;
      border-radius: 20px;
      width: 150px;
      text-align: center;
    }
  
    .showNav .classNav .nav-links .nav-links5 button{
      background-color: #002A3B;
    }
  
    .burgerBar, 
    .burgerBar::after,
    .burgerBar::before{
      display: block;
      width: 40px;
      height: 3px;
      position: fixed;
      border-radius: 3px;
      background: white;
      transition: all .5s ease-in-out;
    }
  
    .burgerBar::after,
    .burgerBar::before{
      content:"";
      position: absolute;
      left: 0;
    }
  
    .burgerBar::before{
      transform: translateY(-12px);
    }
  
    .burgerBar::after{
      transform: translateY(12px);
    }
  
    .showNav .burgerBar{
      background: transparent;
    }
  
    .showNav .burgerBar::before {
      transform: rotate(45deg);
    }
  
    .showNav .burgerBar::after {
      transform: rotate(-45deg);
    }
    
  }
  
  @media screen and (max-width:834px){
    .navbar {
      height: 80px;
    }
    .trouNav{
      height: 80px;
    }
  
    .logo-img {
      width: 80px;
    }
  
    .menuIcon{
      top: 20px;
    }
  }
  
  @media screen and (max-width:768px){
    
  }
  
  @media screen and (max-width:480px){
    
  }
  