
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 100px;
    width: 100%;
    top:0;
  }
  
  .logoNav {
    text-align: center;
    padding: 10px 10px;
  }
  
  .logo-img-Desktop{
    height: 100%;
    width: 200px;
  }
  
  .logo-img-Mobile{
    height: 100%;
    width: 200px;
  }
  
  .contactNav {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .nav-links a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 10px 10px;
      font-size: 16px;
  }
    
  .nav-links a.active,
  .nav-links a:hover,
  .nav-links a:focus {
      background-color: pink ;
      border-radius: 20px;
  }
  
  @media screen and (min-width:1025px){
    .logo-img-Mobile{
      display: none;
    }
  }
  
  @media screen and (max-width:1024px){
    .logo-img-Desktop{
      display: none;
    }
  }
  
  @media screen and (max-width:834px){

  }
  
  @media screen and (max-width:768px){
    
  }
  
  @media screen and (max-width:480px){
    
  }
  